{% extends 'main.html' %}
{% load embed_video_tags %}

{% load staticfiles %}
{% load i18n mptt_tags %}

{% block article %}




<ul class="right"><h4> категория: {{ category }}</h4></ul>
<div class="large-8 columns">

    {% for article in category_articles %}
    <h6>Дата публикации:{{ article.article_date }}</h6>
    <h4><a href="/articles/get/{{ article.id }}/">{{ article.article_title }}</a></h4>

    <p ><a href="/articles/addlike/{{ article.id }}/"><img src="{% static "images.gif" %}" width="25px" height="25px"></a>{{ article.article_likes }}</p>



    <hr>
{% endfor %}
 </div>


{%  endblock %}
