{% load static %}
{% load bootstrap3 %}
{% load bootstrap4 %}
<html>
  <head>
    <title>Home Page</title>
    <link rel="stylesheet" href="{% static 'css/default.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

  </head>
  <body>
    <div class="col-md-8">
      <h1><a href="/page">Django Blog</a></h1>
    </div>
    <div>
      <title>hh</title>
      {% block content %}
        <titles>Привіт.</titles>
        <button type="submit" class="btn btn-primary">
      {% bootstrap_icon "star" %} Submit
    </button>
      {% endblock %}
      <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">
          <img src="static/im.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
    Bootstrap
  </a>
</nav>
{% buttons %}
        <button type="submit" class="btn btn-primary">Su1bmit</button>
    {% endbuttons %}
    </div>

</div>

  </body>
</html>
