{% extends 'base.html' %}
{% block title %}News{% endblock %}
{% block content %}
    <div id="post">
        {% for post in posts %}
        <ul>
        <li><a href="{% url 'news:one_new' post.id %}">{{ post.title}}</a></li>
        </ul>
        {{ post.timestamp }}
        {{ post.author }}<br />
        {{ post.body|truncatewords:80|safe }}<br />
         <a href="{% url 'news:one_new' post.id %}">Читать полностью</a>
        {% endfor %}
    <div id="pages" align="center">
        {% if posts.has_previous %}
            <a href="?page={{ posts.previous_page_number }}">Previous</a>
        {% endif %}
    <span class="current">
        Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
    </span>
        {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}">Next</a>
        {% endif %}
    </div>
    </div>
{% endblock %}
